/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #333;
}

a {
  text-decoration: none;
}

/* MAIN DASHBOARD PANEL */
.dashboard-main {
  display: flex;
  width: 100%;
  padding-top: 80px;
  min-height: 100vh;
}

.dashboard-content {
  margin-left: 100px;
  overflow-x: auto;
  min-width: 1300px;
  padding: 35px;
  background: #f5f5f5;
  min-height: calc(100vh - 120px);
}
