server:
  port: 8084

spring:
  application:
    name: auth-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

jwt:
  issuer: http://localhost:8084
  expiration-ms: 3600000
